body {
    overflow-y: scroll;
}

#center-main-view.dash-graph {
    height: 40vh;
}

h1 {
    font-weight: 400;
}

.title h1 {
    font-size: 1.7em;
    letter-spacing: .2rem;
    margin-bottom: 0.3rem;
}

.title h2 {
    font-size: 0.8em;
    font-weight: 400;
}

.title-icon {
    margin-right: 15px;
}

.thumbnail {
    margin-top: 1rem;
    text-align: center;
}

.thumbnail img {
    min-width: 128px;
    min-height: 128px;
}

.detail-section h5 {
    margin-top: 7px;
}

.detail-tab ul {
    padding-inline-start: 20px;
}

.detail-tab .dash-graph {
    height: 38vh;
}