body {
    overflow-y: scroll;
}

#center-main-view.dash-graph {
    height: 40vh;
}

.thumbnail {
    margin-top: 1rem;
    text-align: center;
}

.thumbnail img {
    min-width: 128px;
    min-height: 128px;
}

.detail-section h5 {
    margin-top: 7px;
}

.detail-tab ul {
    padding-inline-start: 20px;
}

.detail-tab .dash-graph {
    height: 40vh;
}